## `Jai Chaudhry` `2K18/SE/069` `ML-LAB-C2-G2`

# Experiment -1 
### Exploring and demonstrating Python.

# Basics of Python

In [4]:
print("Hello World")

a = 10
b = 10.5
c = "hello_python"
d = 5 + 3j

print(a)
print(b)
print(c)
print(d)

Hello World
10
10.5
hello_python
(5+3j)

In [5]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [6]:
# Working with Input
name = input("Enter your")
print("Hello",end=' ')
print(name)

Enter yourJoker
Hello Joker

In [7]:
# Typecasting
a = float(input("Enter a number"))
print(a)
print(a*a,end="")

print("The square of the number is =" + str(a*a))

Enter a number23.23
23.23
539.6329000000001The square of the number is =539.6329000000001

In [8]:
# Multiple Variable Assignment
a,b,c = 10,20,30.34

In [13]:
# Multi Line String
mystring = """This is 
a multiline string """
print(mystring)

This is
a multiline string

In [11]:
# If ElseIf Statement

weather="Cool"

if weather=="Rainy":
    print("Don't go outside")
    print("It is raining heavilly")
    
elif weather=="Cool":
    print("Lets play Cricket")

else:
    print("Lets go for shopping")

Lets play Cricket

In [12]:
# Loops
n = 10
i = 1

while i<=n:
    print("Step %d"%i)
    i = i + 1

print("Loop Finished")

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9
Step 10
Loop Finished

In [15]:
# Function :
def helloFact():
    print("Hello Factorial")
    
helloFact()

def factorial(n):
    ans = 1
    for i in range(1,n+1):
        ans *= i
    return ans

print(factorial(5))

Hello Factorial
120

# Data Structures
- Tuples
- Dictionaries
- Sets

In [29]:
# TUPLES

t = (1,2,3,"Hello")
print(t)


# tuples are immutable
# t[0] = 5                    # ERROR
print(t[0])


print()
# Convert a tuple into a list
l = list(t)
print(l)

l[0] = 5
print(l)


print()
# New Tuple 
t2 = tuple(l)
print(t2)


print()
#concatentation
print(t2 + t)


print()
#Repetion
t2 = t2*3
print(t2)


print()
# Inbuilt Function 
t = (1,44,3,2)
print(min(t))


# delete 
del t

(1, 2, 3, 'Hello')
1

[1, 2, 3, 'Hello']
[5, 2, 3, 'Hello']

(5, 2, 3, 'Hello')

(5, 2, 3, 'Hello', 1, 2, 3, 'Hello')

(5, 2, 3, 'Hello', 5, 2, 3, 'Hello', 5, 2, 3, 'Hello')

1

In [37]:
# Dictionaries

d = {"Mango":100,"Apple":80}
print(d)
#Look Up
print(d["Mango"],end="\n\n")

d["Guava"] = 60
print(d)

d["Grape"] = [10,20]
print(d["Grape"],end="\n\n")

d["Pineapple"] = {"Small":90,"Large":150}

print(d["Pineapple"]["Small"])

# PRINT KEYS
print(d.keys(),end="\n\n")

# PRINT VALUES
print(d.values(),end="\n\n")

# DELETION
del d["Pineapple"]
print(d,end="\n\n")

# TO List
l = list(d.items())
print(l,end="\n\n")

# PRINT LENGTH
print(len(d))

# Combination of 2 Lists to Dict
l1 = ["Apple","Papaya","Guava","Banana"]
l2 = [100,120,30,50]

p = dict(zip(l1,l2))
print(p)

{'Mango': 100, 'Apple': 80}
100

{'Mango': 100, 'Apple': 80, 'Guava': 60}
[10, 20]

90
dict_keys(['Mango', 'Apple', 'Guava', 'Grape', 'Pineapple'])

dict_values([100, 80, 60, [10, 20], {'Small': 90, 'Large': 150}])

{'Mango': 100, 'Apple': 80, 'Guava': 60, 'Grape': [10, 20]}

[('Mango', 100), ('Apple', 80), ('Guava', 60), ('Grape', [10, 20])]

4
{'Apple': 100, 'Papaya': 120, 'Guava': 30, 'Banana': 50}

In [45]:
# Complicated Dictionary:
book = {
    "name":"learning Python",
    "page":320,
    "authors":[
        {
            "name":"A1",
            "age":30
        },
        {
            "name":"A2",
            "age":40
        }
    ]
}

print(book,end="\n\n")
print(book["name"],end="\n\n")
print(type(book))

{'name': 'learning Python', 'page': 320, 'authors': [{'name': 'A1', 'age': 30}, {'name': 'A2', 'age': 40}]}

learning Python

<class 'dict'>

In [44]:
# SETS

# Basic
s=set()
s.add(1)
s.add(1)
print(s)

# From List 
s = set([15,1,2,3,4,3,1,1])
print(s)

# LookUp
if 14 in s:
    print("present")
else:
    print("not present")
    

print()
# CLear
s.clear()
print(s)

{1}
{1, 2, 3, 4, 15}
not present

set()

# File Handling

In [2]:
# Opening and Writing
file = open("sample_file.txt",'w')

content = "hello World\n"
l = [content]*3

file.writelines(l)
file.close()

In [18]:
# Reading
data=open("sample_file.txt",'r')
print(data.read())

i=0
with open("sample_file.txt","r") as f:
    i+=1
    print(f.closed)
    print(i,f.read())

hello World
hello World
hello World

False
1 hello World
hello World
hello World

# CSV Library for CSV Files

In [48]:
# Writing CSV FILE
file=open("data.csv","w",encoding='utf-8')
headers="number,name,id,text\n"
file.write(headers)

for i in range (0,5):
    s=str(i)+","
    s=s*3
    s+=str(i)+"\n"
    file.write(s)
    
file.close()

In [54]:
# Reading CSV FIle
import csv
file=open("data.csv","r",encoding='utf-8')
obj=csv.reader(file)
for data in obj:
    print(data)

['number', 'name', 'id', 'text']
['0', '0', '0', '0']
['1', '1', '1', '1']
['2', '2', '2', '2']
['3', '3', '3', '3']
['4', '4', '4', '4']

# Pandas Library for CSV Files

In [57]:
# Get Data Directly from Net Using Link

import pandas as pd
data=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data',sep=',')

In [58]:
data.head()

   B  1  1.1  1.2  1.3
0  R  1    1    1    2
1  R  1    1    1    3
2  R  1    1    1    4
3  R  1    1    1    5
4  R  1    1    2    1

In [59]:
data.tail(3)

     B  1  1.1  1.2  1.3
621  L  5    5    5    3
622  L  5    5    5    4
623  B  5    5    5    5

In [61]:
# PRINT ALL VALUES
print(data.values[:])

[['R' 1 1 1 2]
 ['R' 1 1 1 3]
 ['R' 1 1 1 4]
 ...
 ['L' 5 5 5 3]
 ['L' 5 5 5 4]
 ['B' 5 5 5 5]]

In [71]:
# Print in Range 
print(data.shape,end=" <-- 624 ROWS and each row has 5 entries \n\n")

print(data.values[1:,0:5])

(624, 5) <-- 624 ROWS and each row has 5 entries

[['R' 1 1 1 3]
 ['R' 1 1 1 4]
 ['R' 1 1 1 5]
 ...
 ['L' 5 5 5 3]
 ['L' 5 5 5 4]
 ['B' 5 5 5 5]]

# OOPS

In [74]:
class Car:
    pass 

c = Car()
print(type(c))

<class '__main__.Car'>

In [75]:
# Bigger class
class Person:
    #Class Variable, common for all objects of the same class
    nationality = "Indian"
    
    def __init__(self,pname,clg):
        self.name = pname
        self.college = clg
    
    def sayHi(self,name):
        print("Hello "+name)
        
    def __secretMethod(self):
        print("In Secret Method of ",self.name)
    
    def introduce(self):
        print("My Name is ",self.name)
        print("I am from ",self.college)
        print("I am ",self.nationality)
        self.__secretMethod()
        
p = Person("Jai","Lamborghini Veneno")
p.sayHi("LOLO")
p.introduce()
#p.__secretMethod()

p2 = Person("Jai","Lamborghini")
p2.introduce()

Hello LOLO
My Name is  Jai
I am from  Lamborghini Veneno
I am  Indian
In Secret Method of  Jai
My Name is  Jai
I am from  Lamborghini
I am  Indian
In Secret Method of  Jai

## `Jai Chaudhry` `2K18/SE/069` `ML-LAB-C2-G2`