# Import All Necessary Libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from glob import glob
import os

from sklearn.preprocessing import StandardScaler

# Reading the Data

In [ ]:
data = pd.read_csv('/content/train/subj1_series1_data.csv')
feature_columns = data.columns
data.head()

                id  Fp1  Fp2   F7   F3   Fz  ...   P8  PO9   O1   Oz   O2  PO10
0  subj1_series1_0  -31  363  211  121  211  ...  607  289  459  173  120   704
1  subj1_series1_1  -29  342  216  123  222  ...  613  248  409  141   83   737
2  subj1_series1_2 -172  278  105   93  222  ...  606  320  440  141   62   677
3  subj1_series1_3 -272  263  -52   99  208  ...  568  339  437  139   58   592
4  subj1_series1_4 -265  213  -67   99  155  ...  547  343  446  171   67   581

[5 rows x 33 columns]

In [ ]:
outputs = pd.read_csv("/content/train/subj1_series1_events.csv")
output_columns = outputs.columns
outputs.head()

                id  HandStart  FirstDigitTouch  ...  LiftOff  Replace  BothReleased
0  subj1_series1_0          0                0  ...        0        0             0
1  subj1_series1_1          0                0  ...        0        0             0
2  subj1_series1_2          0                0  ...        0        0             0
3  subj1_series1_3          0                0  ...        0        0             0
4  subj1_series1_4          0                0  ...        0        0             0

[5 rows x 7 columns]

# Fetch All the Data into a List Using a Function

In [ ]:
def get_data(num,x):
  x_raw = []
  y_raw = []

  num += 1
  x   += 1

  num = min(num,9)

  for i in range(1,num):

    for j in range(1,9):
      fnames = glob("/content/train/subj{}_series*_data.csv".format(i))
    
    print(fnames)

    for i in fnames:
      print(i)
      x = pd.read_csv(i)
      x = x.drop(['id'],axis=1)
      
      i = i.replace("data","events")
      print(i)
      
      y = pd.read_csv(i)
      y = y.drop(['id'],axis=1)

      x = x.to_numpy()
      y = y.to_numpy()

      print(x.shape)
      print(y.shape)
      
      x_raw.append(x)
      y_raw.append(y)
      break

      print(len(x_raw),len(y_raw))

  return x_raw , y_raw

In [ ]:
x_raw , y_raw = get_data(1,3) 

x = np.array(x_raw) 
y = np.array(y_raw) 

print(x.shape) 
print(y.shape)

['/content/train/subj1_series8_data.csv', '/content/train/subj1_series7_data.csv', '/content/train/subj1_series3_data.csv', '/content/train/subj1_series1_data.csv', '/content/train/subj1_series2_data.csv', '/content/train/subj1_series4_data.csv', '/content/train/subj1_series5_data.csv', '/content/train/subj1_series6_data.csv']
/content/train/subj1_series8_data.csv
/content/train/subj1_series8_events.csv
(117333, 32)
(117333, 6)
(1, 117333, 32)
(1, 117333, 6)

# Compile Data

In [ ]:
train = np.concatenate(x)
print(train.shape)

labels = np.concatenate(y)
print(labels.shape)

(117333, 32)
(117333, 6)

In [ ]:
# Dropping Index

feature_columns = feature_columns[1:]
output_columns =  output_columns[1:]

In [ ]:
# Creating a Df out of the compiled data
df_train = pd.DataFrame( train )
df_labels = pd.DataFrame( labels )

df_train.columns = feature_columns
df_labels.columns = output_columns

print(list(feature_columns),"\n",list(output_columns))

['Fp1', 'Fp2', 'F7', 'F3', 'Fz', 'F4', 'F8', 'FC5', 'FC1', 'FC2', 'FC6', 'T7', 'C3', 'Cz', 'C4', 'T8', 'TP9', 'CP5', 'CP1', 'CP2', 'CP6', 'TP10', 'P7', 'P3', 'Pz', 'P4', 'P8', 'PO9', 'O1', 'Oz', 'O2', 'PO10']
 ['HandStart', 'FirstDigitTouch', 'BothStartLoadPhase', 'LiftOff', 'Replace', 'BothReleased']

In [ ]:
print(len(df_train))

df_train.head()

117333

   Fp1  Fp2   F7   F3  Fz   F4   F8  ...   P4   P8  PO9   O1   Oz  O2  PO10
0 -225 -142  313  211 -61  508  270  ...  266  473 -465 -140   14 -99   176
1 -240 -139  365  145 -70  507  270  ...  287  489 -376 -104   64 -62   224
2 -219  -52  409   89 -78  538  324  ...  280  469 -380 -144    8 -92    89
3 -183  -14  446   48 -68  556  359  ...  303  468 -287  -96   37 -87    33
4 -202  -21  396   45 -60  534  342  ...  339  512 -236  -37  104 -19   123

[5 rows x 32 columns]

In [ ]:
print(len(df_labels))

df_labels.head()

117333

   HandStart  FirstDigitTouch  ...  Replace  BothReleased
0          0                0  ...        0             0
1          0                0  ...        0             0
2          0                0  ...        0             0
3          0                0  ...        0             0
4          0                0  ...        0             0

[5 rows x 6 columns]

In [ ]:
# Analysing the number of 1's and 0's in the input data
for i in output_columns:
  print(i)
  print(df_labels[i].value_counts())

HandStart
0    112233
1      5100
Name: HandStart, dtype: int64
FirstDigitTouch
0    112233
1      5100
Name: FirstDigitTouch, dtype: int64
BothStartLoadPhase
0    112233
1      5100
Name: BothStartLoadPhase, dtype: int64
LiftOff
0    112233
1      5100
Name: LiftOff, dtype: int64
Replace
0    112233
1      5100
Name: Replace, dtype: int64
BothReleased
0    112233
1      5100
Name: BothReleased, dtype: int64

In [ ]:
print(output_columns)

targets = np.argmax(labels,axis=1) + 1
print(targets.shape)

targets = np.zeros((labels.shape[0],1))
print(targets.shape)

Index(['HandStart', 'FirstDigitTouch', 'BothStartLoadPhase', 'LiftOff',
       'Replace', 'BothReleased'],
      dtype='object')
(117333,)
(117333, 1)

In [ ]:
for i in range(0,len(df_labels)):
  for j in range(0,6):
    if labels[i][j]==1:
      targets[i]=j+1
      
print(targets.shape)

(117333, 1)

In [ ]:
df_targets = pd.DataFrame(targets)
df_targets[0].value_counts()

0.0    94596
6.0     5100
1.0     5100
4.0     5100
3.0     3346
5.0     3170
2.0      921
Name: 0, dtype: int64

In [ ]:
scaler = StandardScaler()

# Normalise Data (PreProcessing Using Standard Scaler)

# Dataset Standardization
- `mean = 0`
- `standard deviation = 1` 

<img src="https://miro.medium.com/max/432/1*sn2lNhtSyj1wLDPoNHfihw.jpeg">

In [ ]:
# # selecting all the features within our dataset

# features = df[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']] 
# features = features.to_numpy() # converts feature set to numpy array
# # target = df['num'].to_numpy() # converts target column to numpy array
# features.shape, len(target) , "LOL"

In [ ]:
df = df_train

In [ ]:
# selecting all the features within our dataset

features = df[list(df.columns)] 
features = features.to_numpy()                                                  # converts feature set to numpy array
target = targets                                                                # converts target column to numpy array
features.shape, len(target) , "LOL"

((117333, 32), 117333, 'LOL')

In [ ]:
# ok
# function for standardizing data
def standardScaler(feature_array):
    """Takes the numpy.ndarray object containing the features and performs standardization on the matrix.
    The function iterates through each column and performs scaling on them individually.
    
    Args-
        feature_array- Numpy array containing training features
    
    Returns-
        None
    """
    
    total_cols = feature_array.shape[1]                                         # total number of columns 
    
    for i in range(total_cols):                                                 # iterating through each column
        feature_col = feature_array[:, i]
        mean = feature_col.mean()                                               # mean stores mean value for the column
        std = feature_col.std()                                                 # std stores standard deviation value for the column
        feature_array[:, i] = (feature_array[:, i] - mean) / std                # standard scaling of each element of the column

In [ ]:
# ok
standardScaler(features) # performing standardization on our feature set 

# checking if standardization worked
total_cols = features.shape[1]                     # total number of columns 
for i in range(total_cols):
    print(i,features[:, i].std())

0 0.7682349695925538
1 0.7688666134085924
2 0.6937424052358662
3 0.6925926831856047
4 0.7066219490814852
5 0.6999521835400676
6 0.701525822858882
7 0.6787719439225257
8 0.7072597198711376
9 0.6960040366828097
10 0.6794251922304964
11 0.6875427849956052
12 0.6954428217698128
13 0.7004499956365654
14 0.6847928211421993
15 0.6885602331355803
16 0.6761469512189775
17 0.6803882876966979
18 0.6941056386883446
19 0.7004890516239679
20 0.6940641296685316
21 0.6855430913353499
22 0.692460114428393
23 0.6854621277115688
24 0.6900154318596446
25 0.6907594777767699
26 0.6869852190723644
27 0.6854953479853124
28 0.6869448995178511
29 0.687825873246521
30 0.683010987958211
31 0.6849390089277794

In [ ]:
# ok
# standardScaler(df_train) # performing standardization on our feature set 

# # checking if standardization worked
# total_cols = df_train.columns
# for i in total_cols:
#     print(df_train[i].std())

In [ ]:
df_train.head()

   Fp1  Fp2   F7   F3  Fz   F4   F8  ...   P4   P8  PO9   O1   Oz  O2  PO10
0 -225 -142  313  211 -61  508  270  ...  266  473 -465 -140   14 -99   176
1 -240 -139  365  145 -70  507  270  ...  287  489 -376 -104   64 -62   224
2 -219  -52  409   89 -78  538  324  ...  280  469 -380 -144    8 -92    89
3 -183  -14  446   48 -68  556  359  ...  303  468 -287  -96   37 -87    33
4 -202  -21  396   45 -60  534  342  ...  339  512 -236  -37  104 -19   123

[5 rows x 32 columns]

# Formulating the Model from Scratch

<img src="https://miro.medium.com/max/1125/1*iw6tUEi05dAtlJNZl4anbQ.jpeg">

## Creating `random weights and biases` for our model

In [ ]:
# ok
input_classes = 32
output_classes = 7

# creating randomized weights for our linear predictor func
weights = np.random.rand(output_classes, input_classes)

# creating randomized biases for our linear predictor func
biases = np.random.rand(output_classes, 1)

# print(weights)
# print(biases)

In [ ]:
# 
def linearPredict(featureMat, weights, biases):

    """This is the linear predictor function for our MLR model. It calculates the logit scores for each possible outcome.
    
    Args-
        featureMat- A numpy array of features
        weights- A numpy array of weights for our model
        biases- A numpy array of biases for our model
    
    Returns-
        logitScores- Logit scores for each possible outcome of the target variable for each feature set in the feature matrix
    """

    logitScores = np.array([np.empty([output_classes]) for i in range(featureMat.shape[0])])     # creating empty(garbage value) array for each feature set
    
    for i in range(featureMat.shape[0]):                                                         # iterating through each feature set
        logitScores[i] = (weights.dot(featureMat[i].reshape(-1,1)) + biases).reshape(-1)         # calculates logit score for each feature set then flattens the logit vector 
    
    return logitScores

In [ ]:
print(type(features))
print(features.shape[0])

<class 'numpy.ndarray'>
117333

In [ ]:
# features = df[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']]
# features = features.to_numpy() # converts feature set to numpy array

logitTest = linearPredict(features, weights, biases)
logitTest.shape

(117333, 7)

In [ ]:
eps = np.finfo(float).eps

def softmaxNormalizer(logitMatrix):
    """Converts logit scores for each possible outcome to probability values.
    
    Args-
        logitMatrix - This is the output of our logitPredict function; 
        consists  logit scores for each feature set
    
    Returns-
        probabilities - Probability value of each outcome for each feature set
    """
    
    probabilities = np.array([np.empty([output_classes]) for i in range(logitMatrix.shape[0])])        # creating empty(garbage value) array for each feature set

    for i in range(logitMatrix.shape[0]):
        exp = np.exp(logitMatrix[i])                                                  # exponentiates each element of the logit array
        sumOfArr = np.sum(exp)                                                        # adds up all the values in the exponentiated array
        probabilities[i] = exp/(sumOfArr+eps)                                         # logit scores to probability values
    
    return probabilities

# Combining `SoftmaxNormalizer` and `linearPredict`

In [ ]:
def multinomialLogReg(features, weights, biases):
    """Performs logistic regression on a given feature set.
    
    Args- 
        features- Numpy array of features(standardized)
        weights- A numpy array of weights for our model
        biases- A numpy array of biases for our model
    
    Returns-
        probabilities, predictions
        Here,
            probabilities: Probability values for each possible outcome for each feature set in the feature matrix
            predictions: Outcome with max probability for each feature set
    """
    
    logitScores = linearPredict(features, weights, biases) 
    probabilities = softmaxNormalizer(logitScores) 
    predictions = np.array([ np.argmax(i) for i in probabilities ]) #returns the outcome with max probability
    return probabilities, predictions

# `Sample Try Run`

In [ ]:
probabilities, predictions = multinomialLogReg(features, weights, biases) 
print(probabilities.shape)  
print(predictions)

(117333, 7)
[4 4 0 ... 3 6 4]

In [ ]:
def accuracy(predictions, target):
    """Calculates total accuracy for our model.
    
    Args- 
        predictions- Predicted target outcomes as predicted by our MLR function
        target- Actual target values
    
    Returns-
        accuracy- Accuracy percentage of our model
    """
    
    correctPred = 0
    for i in range(len(predictions)):
        if predictions[i] == target[i]:
            correctPred += 1
    accuracy = correctPred/len(predictions)*100
    return accuracy

print(type(targets))
print(targets.shape)

<class 'numpy.ndarray'>
(117333, 1)

In [ ]:

acc = accuracy(predictions, targets)           # calculating accuracy for our model
print(acc)

15.979306759394202

# `Model Optimization`

In [ ]:
# def train_test_split(dataframe, test_size = 0.2):
#     """Splits dataset into training and testing sets.
    
#     Args- 
#         dataframe- The dataframe object you want to split
#         test_size- Size of test dataset that you want
    
#     Returns-
#         train_features, train_target, test_features, test_target 
#     """
    
#     data = dataframe.to_numpy()                            # converts dataframe to numpy array
#     totalRows = data.shape[0]                              # total rows in the dataset
#     testRows = np.round(totalRows * test_size)             # total rows in testing dataset
#     randRowNum = np.random.randint(0, int(totalRows), int(testRows)) # randomly generated row numbers
#     testData = np.array([data[i] for i in randRowNum])               # creates test dataset
#     data = np.delete(data, randRowNum, axis = 0)                     # deletes test data rows from main dataset; making it training dataset
    
#     train_features = data[:, :]     
#     train_target = data[:, -1]        
#     test_features = testData[:, :]  
#     test_target = testData[:, -1]     
    
#     return train_features, train_target, test_features, test_target    


# # running train_test_split for our dataset

# train_features, train_target, test_features, test_target = train_test_split(df, test_size = 0.17)
# standardScaler(train_features) # standard scaling training set 
# standardScaler(test_features) # standard scaling testing set
# train_features.shape, train_target.shape, test_features.shape, test_target.shape

In [ ]:
df.head()
temp = pd.DataFrame(targets)
print(temp.value_counts())

from sklearn.model_selection import train_test_split
print(features.shape,targets.shape)

train_features, train_target, test_features, test_target = train_test_split(features,targets,test_size = 0.2)
train_features.shape, train_target.shape, test_features.shape, test_target.shape

0.0    94596
6.0     5100
4.0     5100
1.0     5100
3.0     3346
5.0     3170
2.0      921
dtype: int64
(117333, 32) (117333, 1)

((93866, 32), (23467, 32), (93866, 1), (23467, 1))

# Define cross-entropy loss function

<img src="https://miro.medium.com/max/788/1*wLgdoEMbD6R-ImiRJ10m9Q.jpeg">

In [ ]:
def crossEntropyLoss(probabilities, target):
    """Calculates cross entropy loss for a set of predictions and actual targets.
    
    Args-
        predictions- Probability predictions, as returned by multinomialLogReg function
        target- Actual target values
    Returns- 
        CELoss- Average cross entropy loss
    """
    
    n_samples = probabilities.shape[0]
    CELoss = 0
    
    for sample, i in zip(probabilities, target):
        CELoss += -np.log(sample[i] + eps )
    
    CELoss /= (n_samples + eps)
    
    return CELoss

In [ ]:
def stochGradDes(learning_rate, epochs, target, features, weights, biases):
    """Performs stochastic gradient descent optimization on the model.
    
    Args-
        learning_rate- Size of the step the function will take during optimization
        epochs- No. of iterations the function will run for on the model
        target- Numpy array containing actual target values
        features- Numpy array of independent variables
        weights- Numpy array containing weights associated with each feature
        biases- Array containinig model biases
    
    Returns-
        weights, biases, loss_list
        where,
            weights- Latest weight calculated (Numpy array)
            bias- Latest bias calculated (Numpy array)
            loss_list- Array containing list of losses observed after each epoch    
    """
    
    target = target.astype(int)
    loss_list = np.array([])       # initiating an empty array
    
    for i in range(epochs):
        print(i)
        probabilities, _ = multinomialLogReg(features, weights, biases) # Calculates probabilities for each possible outcome
        
        CELoss = crossEntropyLoss(probabilities, target)                # Calculates cross entropy loss for actual target and predictions
        loss_list = np.append(loss_list, CELoss)                        # Adds the CELoss value for the epoch to loss_list
        
        probabilities[np.arange(features.shape[0]),target] -= 1         # Substract 1 from the scores of the correct outcome
        
        grad_weight = probabilities.T.dot(features)                     # gradient of loss w.r.t. weights
        grad_biases = np.sum(probabilities, axis = 0).reshape(-1,1)     # gradient of loss w.r.t. biases
        
        #updating weights and biases
        weights -= (learning_rate * grad_weight)
        biases -= (learning_rate * grad_biases)
        
    return weights, biases, loss_list

In [ ]:
updatedWeights, updatedBiases, loss_list = stochGradDes(0.097, 300, train_target, train_features, weights, biases)

0

IndexError: ignored

In [ ]:
# testProbabilities, testPredictions = multinomialLogReg(test_features, updatedWeights, updatedBiases)
testProbabilities, testPredictions = multinomialLogReg(features, updatedWeights, updatedBiases)

# correctPreds = 0
# for i in range(len(testPredictions)):
#     if testPredictions[i] == test_target[i]:
#         correctPreds += 1
# acc = correctPreds / len(testPredictions) * 100
# print("Model accuracy on test dataset - {}".format(acc))
print(testPredictions)

[0 0 0 ... 0 0 0]

In [ ]:
# print(type(accuracy))
# del accuracy
acc = accuracy(testPredictions, target)           # calculating accuracy for our model
print(acc)

80.62181994835213

In [ ]:
def advanced_accuracy_measure(preds,target):

  tot_cnt=0
  cnt=0
  for i in range(0,len(target)):
    if target[i]!=0:
      tot_cnt+=1
      if target[i]==preds[i]:
        cnt+=1

  return (cnt//tot_cnt)*100
      
acc = advanced_accuracy_measure(testPredictions, target)           # calculating accuracy for our model
print(acc)

0

In [ ]:
accuracy = accuracy(testpredictions, target)           # calculating accuracy for our model
print(accuracy)