# `Jai Chaudhry 2K18-SE-069`

## Experiment - 3

- Write a program to exhibit the working of the decision tree based ID3 algorithm. 
- With the help of appropriate data set build the decision tree and classify a new sample.

In [239]:
import numpy as np
import pandas as pd
eps = np.finfo(float).eps
from numpy import log2 as log

- `eps` here is the smallest representable number. 
- At times we get log(0) or 0 in the denominator, to avoid that we are going to use this.

In [240]:
# dataset1=1
# dataset2=0

## Define the dataset1:

In [241]:
outlook = 'overcast,overcast,overcast,overcast,rainy,rainy,rainy,rainy,rainy,sunny,sunny,sunny,sunny,sunny'.split(',')
temp = 'hot,cool,mild,hot,mild,cool,cool,mild,mild,hot,hot,mild,cool,mild'.split(',')
humidity = 'high,normal,high,normal,high,normal,normal,normal,high,high,high,high,normal,normal'.split(',')
windy = 'FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,TRUE'.split(',')
play = 'yes,yes,yes,yes,yes,yes,no,yes,no,no,no,no,yes,yes'.split(',')

# Define the Dataset 2: (Class Dataset)

In [242]:
outlook = 'sunny,sunny,overcast,rain,rain,rain,overcast,sunny,sunny,rain,sunny,overcast,overcast,rain'.split(',')
temp='hot,hot,hot,mild,cold,cold,cold,mild,cold,mild,mild,mild,hot,mild'.split(',')
humidity = 'high,high,high,high,normal,normal,normal,high,normal,normal,normal,high,normal,high'.split(',')
windy = 'weak,strong,weak,weak,weak,strong,strong,weak,weak,weak,strong,strong,weak,strong'.split(',')
play = 'no,no,yes,yes,yes,no,yes,no,yes,yes,yes,yes,yes,no'.split(',')

In [243]:
dataset=0

dataset = {'outlook':outlook,'temp':temp,'humidity':humidity,'windy':windy,'play':play}
df = pd.DataFrame(dataset,columns=['outlook','temp','humidity','windy','play'])

In [244]:
df.head(14)

     outlook  temp humidity   windy play
0      sunny   hot     high    weak   no
1      sunny   hot     high  strong   no
2   overcast   hot     high    weak  yes
3       rain  mild     high    weak  yes
4       rain  cold   normal    weak  yes
5       rain  cold   normal  strong   no
6   overcast  cold   normal  strong  yes
7      sunny  mild     high    weak   no
8      sunny  cold   normal    weak  yes
9       rain  mild   normal    weak  yes
10     sunny  mild   normal  strong  yes
11  overcast  mild     high  strong  yes
12  overcast   hot   normal    weak  yes
13      rain  mild     high  strong   no

## Decision Tree Algorithm
- compute the entropy for data-set
- for every attribute/feature:
       1.calculate entropy for all categorical values
       2.take average information entropy for the current attribute
       3.calculate gain for the current attribute
- pick the highest gain attribute.
- Repeat until we get the tree we desired

## Get Entropy of DataFrame `Df` for a subtree:

In [245]:
# ok 
def find_entropy(df): 
    Class = df.keys()[-1]           # To make the code generic, changing target variable class name
    entropy = 0
    values = df[Class].unique()
    for value in values:
        fraction = df[Class].value_counts()[value]/len(df[Class])
        entropy += -fraction * np.log2(fraction)
    return entropy

In [246]:
print(log(2))

1.0

In [247]:
## Making of def find_entropy(df):

# pred = df.keys()[-1]
# print(pred,end="\n\n")


# ll = df[pred].unique()
# print(ll,end="\n\n")

# dict = df[pred].value_counts()

# print(dict,end="\n\n")
# print(ll[0],dict[ll[0]])


# entropy = 0
# for val in ll:
#     count = dict = df[pred].value_counts()[val]
#     entropy += - (count/len(df))*(log(count/len(df)))
# print(entropy)

# Find entropy of df wrt a certain attribute

In [248]:
# ok
def find_entropy_attribute(df,attribute):
    Class = df.keys()[-1]                  # To make the code generic, changing target variable class name
#     print(Class)
    
    target_variables = df[Class].unique()  # This gives all 'Yes' and 'No'
    variables = df[attribute].unique()     # This gives different features in that attribute (like 'Hot','Cold' in Temperature)
    entropy2 = 0
    
#     if Class==attribute:
#         return 10000
    
    for variable in variables:
        entropy = 0
        den = len(df[attribute][df[attribute]==variable])
        
        for target_variable in target_variables:
            num = len(df[attribute][df[attribute]==variable][df[Class] == target_variable])
#             den = len(df[attribute][df[attribute]==variable])
            fraction = num/(den+eps)
            entropy += -fraction*log(fraction+eps)
            
        fraction2 = den/len(df)
        entropy2 += fraction2*entropy
    
    return abs(entropy2)

In [249]:
## Making of def find_entropy_attribute(df,attribute):

# print(eps)
# print()

# attr='outlook'
# pred = df.keys()[-1]
# print(pred)
# print()

# attr_vals = df[attr].unique()
# print(attr_vals)
# print()

# tgt_vals = df[pred].unique()
# print(tgt_vals)
# print()


# for val in attr_vals:
#     print(val,len(df[attr][df[attr]==val]))
# print()


# for val in attr_vals:
#     den = len(df[attr][df[attr]==val])
#     print(val,den)
#     for tgt in tgt_vals:
#         print( val, tgt , len( df[attr][ df[attr]==val ][ df[pred]==tgt ] ) )
# print()


# fentropy = 0
# for val in attr_vals:
    
#     den = len(df[attr][df[attr]==val])
#     intentropy = 0
    
#     for tgt in tgt_vals:
#         count = len(df[attr][ df[attr]==val ][ df[pred]==tgt ]) 
#         fraction = count / (den+eps)
#         intentropy += -fraction*log(fraction+eps)
    
#     fraction2 = den /len(df)
#     fentropy += fraction2 * intentropy
        
# print(attr,fentropy)

In [250]:
for i in df.columns: 
    print(i,": ",find_entropy_attribute(df,i))

outlook :  0.6935361388961914
temp :  0.9110633930116756
humidity :  0.7884504573082889
windy :  0.892158928262361
play :  3.2034265038149176e-16

# Get The one that is the best divider for current node

In [251]:
# ok  
def find_winner(df):
#     print("find_winner",len(df))
#     print(df.head(10))
    Entropy_att = []
    IG = []
    for key in df.keys()[:-1]:
        IG.append(find_entropy(df)-find_entropy_attribute(df,key))

    return df.keys()[:-1][np.argmax(IG)]

In [252]:
find_winner(df)

'outlook'

# After choosing an Attr. for division, 
### For a particular branch from this attr. for a specific value x 
### Get the subset of data that has this attr.'s value as x

In [256]:
def get_subtable(df, node ,value): 
    return df[df[node] == value].reset_index(drop=True)

In [257]:
# def get_subtable(df, node ,value): 
#     return df[df[node] == value].reset_index(drop=True).drop([node],axis=1)

In [258]:
df.drop(['play'],axis=1).head(3)

    outlook temp humidity   windy
0     sunny  hot     high    weak
1     sunny  hot     high  strong
2  overcast  hot     high    weak

# Main Driver Function to create Tree

In [259]:
def buildTree(df,TgtClass,previous_winner=0,tree=None): 
    Class = df.keys()[-1]   #To make the code generic, changing target variable class name
    
    # Here we build our decision tree

    # Get attribute with maximum information gain
    node = find_winner(df)
    
    # Create an empty dictionary to create tree    
    if tree is None:                    
        tree={}
        tree[node] = {}
    
    if previous_winner == node:
        clValue,counts = np.unique(df[TgtClass],return_counts=True) 
        tree[node][df[node][0]] = clValue[np.argmax(counts)]
        return tree
    
    
    # Get distinct value of that attribute e.g Salary is node and Low,Med and High are values
    attValue = np.unique(df[node])

   # We make loop to construct a tree by calling this function recursively. 
   # In this we check if the subset is pure and stops if it is pure. 

    for value in attValue:
        
        subtable = get_subtable(df,node,value)
        clValue,counts = np.unique(subtable[TgtClass],return_counts=True)   
        
        if len(counts)==1:                # Checking purity of subset
            tree[node][value] = clValue[0]   
        else:        
            tree[node][value] = buildTree(subtable,TgtClass,node) #Calling the function recursively 
                   
    return tree

In [260]:

clValue,counts = np.unique(df['play'],return_counts=True)  
print(clValue,counts)
print()

print(clValue.shape,counts.shape)
print()

print(clValue[0],clValue[1])
print(counts[0],counts[1])
print()

print("index of max freq:",np.argmax(counts),"\tmax freq value:",clValue[np.argmax(counts)])
print()

print(len(df.columns),"\t",list(df.columns) )
print()

['no' 'yes'] [5 9]

(2,) (2,)

no yes
5 9

index of max freq: 1 	max freq value: yes

5 	 ['outlook', 'temp', 'humidity', 'windy', 'play']

## Running It

In [261]:
t = buildTree(df,'play')

In [262]:
import pprint      
pprint.pprint(t)

{'outlook': {'overcast': 'yes',
             'rain': {'windy': {'strong': 'no', 'weak': 'yes'}},
             'sunny': {'humidity': {'high': 'no', 'normal': 'yes'}}}}

# Now Implementing Decision Tree on Adult DataSet

# Loading Data

In [263]:
import copy

In [264]:
data = pd.read_csv('C:\\Users\\Jai\\Desktop\\adult.csv',na_values='?')

In [265]:
num_cols = list(data.select_dtypes(include=["number"]).columns)
cat_cols = list(data.select_dtypes(exclude=["number"]).columns)

print((num_cols))
print()
print(cat_cols)

['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week']

['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country', 'income']

# PreProcessing

In [266]:
print(len(data))
data = data.dropna() 
print(len(data))     
data.head()

48842
45222

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

# Getting Numerical and Categorical Columns

In [267]:
# RUN THIS ONLY ONCE

# Numeric Data
ndata = data.select_dtypes(include=['number']) 
indata = copy.deepcopy(ndata)

# Categorical Data
data = data.select_dtypes(exclude=['number']) 

print(len(data)) 
data.head()

45222

,workclass,education,marital-status,occupation,relationship,race,gender,native-country,income
0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K
1,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
2,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
3,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
5,Private,10th,Never-married,Other-service,Not-in-family,White,Male,United-States,<=50K

In [268]:
# Numeric Data
ndata =  copy.deepcopy(indata)
ndata.head()

   age  fnlwgt  educational-num  capital-gain  capital-loss  hours-per-week
0   25  226802                7             0             0              40
1   38   89814                9             0             0              50
2   28  336951               12             0             0              40
3   44  160323               10          7688             0              40
5   34  198693                6             0             0              30

# Converting Numeric Values to 0 or 1 values for Decision tree (Using Mean)

In [269]:
## Assigning categorical values (like interval) to numeric data
## Again run this only once

ndata =  copy.deepcopy(indata)

for i in ndata.columns:

    mn = ndata[i].mean()
    print(i,mn)
    
    ndata.loc[ndata[i] < mn, i] = 0
    ndata.loc[ndata[i] >= mn, i] = 1
    
ndata.head()

age 38.547941267524656
fnlwgt 189734.7343107337
educational-num 10.118460041572686
capital-gain 1101.4303436380524
capital-loss 88.595418159303
hours-per-week 40.93801689443191

   age  fnlwgt  educational-num  capital-gain  capital-loss  hours-per-week
0    0       1                0             0             0               0
1    0       0                0             0             0               1
2    0       1                1             0             0               0
3    1       0                0             1             0               0
5    0       1                0             0             0               0

# Merging the Transformed Numeric Data with Categorical Data

In [270]:
frames = [ndata,data]

In [271]:
result = pd.concat(frames,axis = 1)
data =  result

print(len(data))

data.head()

45222

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass,education,marital-status,occupation,relationship,race,gender,native-country,income
0,0,1,0,0,0,0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K
1,0,0,0,0,0,1,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
2,0,1,1,0,0,0,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
3,1,0,0,1,0,0,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
5,0,1,0,0,0,0,Private,10th,Never-married,Other-service,Not-in-family,White,Male,United-States,<=50K

In [272]:
data.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass,education,marital-status,occupation,relationship,race,gender,native-country,income
0,0,1,0,0,0,0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K
1,0,0,0,0,0,1,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
2,0,1,1,0,0,0,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
3,1,0,0,1,0,0,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
5,0,1,0,0,0,0,Private,10th,Never-married,Other-service,Not-in-family,White,Male,United-States,<=50K

# All set to Run on the Dataset

In [296]:
# print(data["income"].unique)

In [309]:
number_of_tuples_i_want = 100

In [310]:
npdata = np.array(data)  
print(npdata.shape)

(45222, 15)

In [311]:
# npdata = npdata[:1000,:]         # npdata[:x,:]   GET first x tuples from 45222 tuples in the dataframe

In [312]:
newdata = data[:min(number_of_tuples_i_want,len(data))]     
print(len(newdata))
newdata.head(5)

100

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass,education,marital-status,occupation,relationship,race,gender,native-country,income
0,0,1,0,0,0,0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K
1,0,0,0,0,0,1,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
2,0,1,1,0,0,0,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
3,1,0,0,1,0,0,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
5,0,1,0,0,0,0,Private,10th,Never-married,Other-service,Not-in-family,White,Male,United-States,<=50K

In [313]:
print(newdata['income'][0])
# newdata.head()

<=50K

# Convert The Dataframe values to string so that it can be plotted using pydot

In [314]:
newdata = newdata.applymap(str)

In [315]:
tree = buildTree(newdata,'income')

In [317]:
# pprint.pprint(tree)

In [318]:
dict = {}

In [319]:
import pydot


menu = {'dinner':
            {'chicken':'good',
             'beef':'average',
             'vegetarian':{
                   'tofu':'good',
                   'salad':{
                            'caeser':'bad',
                            'italian':'average'}
                   },
             'pork':'bad'}
        }


def draw(parent_name, child_name):
    edge = pydot.Edge(parent_name, child_name)
    graph.add_edge(edge)


def visit(node, parent=None):
    for k,v in node.items():
        if isinstance(v, type(dict)):
            # We start with the root node whose parent is None
            # we don't want to graph the None node
            if parent:
                draw(parent, k)
            visit(v, k)
            
        else:
            draw(parent, k)
            # drawing the label using a distinct name
            draw(k, k+'_'+v)


graph = pydot.Dot(graph_type='graph')

# visit(menu)
visit(tree)

graph.write_png('Adult_Dataset_Decision_Tree.png')

<img src = "Adult_Dataset_Decision_Tree.png">

# `Jai Chaudhry 2K18-SE-069`